:root{
    --black: #000;
    --white: #fff;
    --grey-dark: #333;
    --grey-light: #999;
    --canvas: #fffdf9;
    --shadow: #ddd;
    --ani-duration: 0.6s;
    
    --content-width-max: 1100px;
    --breakpoint-medium: 600px;
    --breakpoint-large: 900px;
    --breakpoint-wide: 1200px;

    /* --bg-img-one-s: url("/img/hennabelly1.jpg"); */
    /* --bg-img-one-m: url("/img/hennabelly1.jpg"); */
    /* --bg-img-one-l: url("/img/hennabelly1.jpg"); */
    /* --bg-img-one-w: url("/img/hennabelly1.jpg");  */
    
    --bg-img-two: url("/img/202.JPG");
    --bg-img-three: url("/img/IMG_0478.JPG");
    --bg-img-four: url("/img/024_edited-5.jpg");;
}

/* styling for the latest iteration */
html{ font-size: 62.5%; }
html, body{
    height: 100%;
}

body{
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-family: Dosis, sans-serif;
    background-color: #fffdf9;
}

h1, h2, h3, h4, h5, h6{ font-weight: 300; }

.homepage{
    height: 100%;
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}

.nav{
    background-color: #fffdf9;
    width: 100%;
    text-align: center;
    left: 0;
    box-shadow: 0 5px 5px -2px rgb(0 0 0 / 20%);
    font-family: 'Euphoria Script', cursive;
}

nav ul{
    max-width: var(--content-width-max);
    padding: 1.5rem 1rem;
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
    li{  
        font-size: 3.0rem;
        line-height: 3.5rem;
        text-decoration: none;
        cursor: pointer;

        a{
            text-decoration: none;
        }
    }
    
    li:first-child {
        margin-right: auto;
    }
}

.scroll {
    background-color: #c7c7c7;
}

.scroll, .contact {
    padding: 3rem;
    color: #666;
    > *{
        max-width: var(--content-width-max);
        margin: 2rem auto;
    }
}

.contact{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    max-width: var(--content-width-max);
    margin: 0 auto;
    > *{
        flex: 1 0;
    }
}

#portrait {
    float: right;
    border-radius: 1.5rem;
}

.fixed {
    height: 100%;
    width: 100%;
    color: #eee;
    text-align: center;
    display: table;
}

.fixed h2 {
    display: table-cell;    
    vertical-align: middle;
}

.top-nav {
    position: fixed;
    top: 0;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
}

/* #logo{ */
/*     max-width:1080px; */
/*     position: absolute; */
/*     transition: width var(--ani-duration), opacity var(--ani-duration), top var(--ani-duration); */
/*     transform: translate(-50%, -50%); */

/*     top: 50%; */
/*     left: 50%; */

/*     width:30%; */
/*     opacity:0; */

/*     &.active{ */
/*         width:100%; */
/*         opacity:1; */
/*     } */
/* } */

/* General styles */
h1, h2, h3, h4, h5, h6{ font-weight: 300; }

h1{
    font-size: 3.4rem;
    line-height: 3.9rem;
}

h2, h3{
    font-size: 3.0rem;
    line-height: 3.5rem;
}

h4, h5, h6{
    font-size: 2.6rem;
    line-height: 3.1rem;
}

p{ padding: 15px 0; }
em{ font-style: italic; }
strong{ font-weight: 600; }

a{
    cursor: pointer;
    color: var(--grey-dark);
    transition: color var(--ani-duration);
    &:hover{ color: var(--grey-light); }
}

ul, ol{
    list-style-position: initial;

    li{
        /* margin-left: 20px; */
        p{ padding: 0; }
    }
}

ul{ list-style: bullet; }

ol{ list-style-type: decimal; }

time{
    padding-top: 5px;
    font-size: 1.3rem;
    line-height: 1.4rem;
}

/* Weird FF bug for tables */
table{ height: 1rem; }

th, td{
    text-align: left;
    height:inherit;
    &:first-child{ width: 50%; }
}

img{
    max-width:40vw;

    + .left {
        float:left;
        margin-right: 15px;
    }

    + .right {
        float:right;
        margin-left: 15px;
    }

    + .center {
        max-width:100%;
        margin: 0;
    }
    
    + .corners { border-radius: 25px; }
}

/* Custom Layout for different sections */
h1 {
    font-family: 'Euphoria Script', cursive;
}

.post, .posts-summary{
    grid-area: main;
    padding-top: 75px;
    padding-bottom: 30px;
}

.post{
    display: grid;
    grid-template-columns: 4% 1fr;

    p, ul, ol, table, div { grid-column: 2; }
    h1, h2, h3, h4, h5, h6, hr, time, pre { grid-column: 1 / span 2; }
};

.pagination {
    grid-area: pagination;
}

.footer{
    padding: 10px 0;
    display: flex;
    
    a{
        padding: 5px 10px;
        margin: 0 12px 0 7px;
        font-size: 3.0rem;
        line-height: 3.5rem;
        text-decoration: none;
    }
}

.footer{
    grid-area: footer;
    justify-self: end;
}

.page-not-found{
    text-align: center;

    /* padding: 100px 15px;
     
     h2{ padding: 0; } */
}

.summary{
    width: 75%;
    position: relative;
    float: right;
}

.readMore {
    position: relative;
    float: right;
}

@media only screen and (width >= 600px) {
    .grid{
        grid-template-columns: 0.5fr 8fr 0.5fr;
    }
    
    .previous, .next{
        text-align: inherit;
        margin: 15px 0;
        width: initial;
    }

    .next{ float:right;
           margin-left: 15px;
         }
    .previous{ float:left; }

    
    th, td{
        &:first-child{ width: 60%; }
    }
}

@media only screen and (width >= 900px) {
    img { max-width:40%; }

    h1, h2, h3, h4, h5, h6{ padding-top: 15px; }

    h1{
        font-size: 4.9rem;
        line-height: 5.7rem;
    }

    h2, h3{
        font-size: 4.2rem;
        line-height: 4.9rem;
    }

    h4, h5, h6{
        font-size: 3.6rem;
        line-height: 4.2rem;
    }
}

.one, .two, .three, .four {
    background: no-repeat center center fixed;
    background-size: cover;
}

.one {background-image: var(--bg-img-one-s); }
.two {background-image: var(--bg-img-two); }
.three {background-image: var(--bg-img-three); }
.four {background-image: var(--bg-img-four); }

@media only screen and (min-width: 600px) {
    .one {background-image: var(--bg-img-one-m); }
    .two {background-image: var(--bg-img-two); }
    .three {background-image: var(--bg-img-three); }
    .four {background-image: var(--bg-img-four); }
}

@media only screen and (min-width: 900px) {
    .one {background-image: var(--bg-img-one-l); }
    .two {background-image: var(--bg-img-two); }
    .three {background-image: var(--bg-img-three); }
    .four {background-image: var(--bg-img-four); }
}

@media only screen and (min-width: 1200px) {
    .one {background-image: var(--bg-img-one-w); }
    .two {background-image: var(--bg-img-two); }
    .three {background-image: var(--bg-img-three); }
    .four {background-image: var(--bg-img-four); }
}
