{{ partial "head.html" . }}
<section class="homepage">
  <div class="fixed one">
    <!-- <img id="logo" alt="logo" class="active" src="./img/lines_only_logo.png" /> -->
  </div>
  <div class="nav bottom-nav">
    {{ partial "navigation.html" . }}
  </div>
  <div class="scroll">
    <h2>Why Hire a Birth Doula?</h2>
    <p>Hiring a birth doula is an investment in one of the most life-changing moments you&#39;ll ever experience—your
      pregnancy, delivery, and postpartum journey. No matter how prepared you are, having someone experienced by your side
      throughout labor can offer peace of mind. With my experience attending several births, I can provide an objective
      perspective, offer coping strategies, and support both you and your partner in the way you feel most comfortable.</p>
    <p> We’ll discuss your preferences during our consultation, and
      I’ll adapt as needed on the big day—staying attuned to your changing needs. For those with family abroad, a
      doula can serve as a consistent, supportive anchor, especially in an unpredictable hospital environment
      where care providers may change during shifts or if medical interventions arise. Having a familiar face with
      you throughout the process can be a comforting, stabilizing presence.</p>
  </div>

  <div class="fixed two"></div>

  <div class="scroll">
    <h2>What Do I Offer?</h2>
    <p>Looking for someone trained in various labor positions and breathing techniques to help during
      a long or challenging labor? As a doula with extensive training in Shiatsu, I can also use
      counter-pressure to ease discomfort. Together, we’ll build a trusting relationship so you can
      confidently prepare for your birth.</p>
    <p>I’ve gained a deep understanding of the Dutch maternity system, from what a natural birth looks
      like to managing irregularities and medical interventions. With an intermediate (B1) level of
      Dutch and aiming for B2, I’m here to support you in the best way possible.</p>

    <h2>How I Can Help?</h2>
    <p>I can teach your partner simple massage techniques and ways to support you during birth. If
      they’re feeling nervous, I’ll be there to offer encouragement and reassurance, explaining what’s
      happening and ensuring when it’s normal for the stage you’re in. You can lean on me as an
      extra set of hands—or even as a birth photographer—allowing you to focus entirely on your
      experience, knowing your wishes are being respected.</p>
    <p>I provide judgment-free support, answering your questions and helping create a cozy
      atmosphere for your birth. If needed, I can refer you to specialists in the pre or postnatal phases
      and try to prompt you to get sufficient guidance on pain relief options from your medical
      care providers, so that you feel you were well-informed about every choice. With experience in both home
      and hospital births, we can also discuss your preferences for those precious first hours after
      birth and ways to encourage strong bonding.</p>
    <p>
      <em>Ready to feel supported on your birth journey? Contact me today to schedule a free consultation and
        learn more about how I can help.</em>
    </p>
  </div>

  <div class="fixed three"></div>

  <div class="scroll">
    <h2>Who am I?</h2>
    <p>I’m passionate about supporting families and view childbirth as a powerful rite of passage. Every
      woman deserves the companionship of someone who can educate, empower, and nurture her
      during this transformative time. There&#39;s nothing more extraordinary than the moment a new life
      begins—and with it, a new mother or father is also born. Welcoming a sibling into the family is
      equally precious, marking another beautiful milestone.</p>
    <p>As your doula, I&#39;m dedicated to helping you prepare for your birth journey, offering continuous
      emotional and physical support during labor, and guiding you through the weeks that follow as
      you process and decompress.</p>
    <p>When I moved to the Netherlands from South Africa, COVID hit just two months later. It made
      me reflect deeply on how I wanted to spend the rest of my life. I’ve always been drawn to
      childbirth and women’s health, initially considering a role as a Kraamzorg (postpartum nurse).
      However, with my background in the healing arts—Shiatsu and pregnancy massage—I was
      thrilled to discover Doula training in English in Amsterdam, since my Dutch was not at the level
      that was needed to take the Kraamzorg course.</p>
    <p>I had a doula during my first birth in South Africa who kept me grounded, cheered me on, and
      helped me find my voice. That experience made me realize just how invaluable the presence of
      a doula can be. We&#39;re trained not only in the physiology of birth but in how our support directly
      impacts outcomes and satisfaction during this life-changing event.</p>
    <p>If you&#39;re looking for a doula (birth coach) to offer personalized support tailored to your needs
      and preferences, I’d love to help. Whether you’re a first-time mom, seeking a more positive birth
      experience, navigating the Dutch maternity system as an expat, or preparing to become a single
      parent, I’m here to walk alongside you.</p>
    <p>Let’s connect for a free 45-minute consultation. My mission is that when you reflect back on your birth
      experience you felt empowered, supported and heard so you can look back on your baby’s birthday with
      pride and joy.</p>
  </div>

  <div class="fixed four"></div>

  <div class="scroll">
    <h2>Doula Trajectory: Where and When</h2>
    <p>Our journey together begins with a free initial meeting, where you decide if I’m the right fit for
      you.</p>
    <ul>
      <li>
        <em>First Prenatal Appointment: </em>Discuss your delivery and postpartum wishes.
      </li>
      <li>
        <em>Second Prenatal Appointment (optional): </em>Review your Birth Plan (I can assist if you would like some
        guidance on content).
      </li>
      <li>
        <em>Third Prenatal Appointment (optional): </em>Practice positions, massage techniques, and
        breathing patterns.
      </li>
      <li>
        <em>On-Call Support (Weeks 37-42): </em>24/7 availability with you in my emergency contacts.
      </li>
      <li>
        <em>Labor &amp; Birth Support: </em>Continuous presence during labor, staying 1-3 hours post-birth
        or until no longer needed.
      </li>
      <li>
        <em>Postpartum Visit (5-10 days after birth): </em>Check-in for Q&amp;A and provide support for you and
        baby.
      </li>
      <li>
        <em>Closing Visit (5-6 weeks after birth): </em>Includes a postpartum foot massage to promote
        hormonal rebalancing and a detailed birth report.
      </li>
    </ul>
    <p>Ideally, I meet with clients at least four times, spending 2-2.5 hours per visit (some via video-call and some in
      person), delving into not just
      the birth process, but your personal intentions, inspirations, and concerns. We’ll stay connected
      via phone, WhatsApp, and Zoom to address any questions or concerns that come up along the
      way.</p>
    <p>Let’s embark on this journey together. Reach out today and take the first step toward a
      supported, empowered birth experience.</p>
  </div>

  <div class="contact">
    <h2>Ready to reach out</h2>
    <p>How about sending me a mail at <a href="mailto:	info@momentum-birth.com?subject=Doula inquiry">
        info@momentum-birth.com</a>?</p>
  </div>

</section>
{{ partial "footer.html" . }}
